
<div class="section">
  <div class="container">
    <div class="columns is-centered">

      <div class="column is-4">
        <h2 class="title is-2">
          Editar Contrase単a
        </h2>
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
        
          <div class="field">
            <div class="control"> 
              <%= f.input :password, label:"Contrase単a:", required:true, input_html: {class: "input"}, wrapper: false, label_html: {class:"label"},
              hint: ("#{@minimum_password_length} caracteres minimos." if @minimum_password_length)%>
            </div>
          </div>

          <div class="field">
            <div class="control"> 
              <%= f.input :password_confirmation, label:"Confirmar contrase単a", required:true, input_html: {class:"input"}, wrapper: false, label_html:{class: "label"} %>
            </div>
          </div>

        
        <div class="form-actions">
          <%= f.button :submit, "Enviame las instrucciones para cambiar contrase単a", class:"button is-info" %>
        </div>
        <% end %>
        <br/>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

